header {
  background-color: white;
  display: flex;
  height: 20vh;
  flex-direction: column;
}

.header-logo {
  display: flex;
  justify-content: center;
}

h1 {
  font-family: American Typewriter, serif;
  font-weight: normal;
  font-size: 8rem;
}

.hilt {
  font-size: 6rem;
  font-family: sans-serif;
  position: relative;
  bottom: 10px;
}

a {
  margin: 10px;
  text-decoration: none;
  color: black;
  font-size: 20px;
}


a:hover {
  color: #D63A92;
}

a:active {
  color: #D63A92;
  text-decoration: underline;
}

@media screen and (max-width: 1020px) {
  header {
    height: 15vh;
  }
  h1 {
    font-size: 6rem;
  }
  .hilt {
    font-size: 4rem;
  }
}

@media screen and (max-width: 777px) {
  header {
    height: 12.5vh;
  }
  h1 {
    font-size: 4rem;
  }
  .hilt {
    font-size: 2rem;
  }
}

@media screen and (max-width: 530px) {
  header {
    height: 10vh;
  }
  h1 {
    font-size: 2rem;
  }
  .hilt {
    font-size: 1rem;
    bottom: 5px;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
