header {
  background-color: white;
  display: flex;
  height: 20vh;
  flex-direction: column;
}

.header-logo {
  display: flex;
  justify-content: center;
}

h1 {
  font-family: American Typewriter, serif;
  font-weight: normal;
  font-size: 8rem;
}

.hilt {
  font-size: 6rem;
  font-family: sans-serif;
  position: relative;
  bottom: 10px;
}

a {
  margin: 10px;
  text-decoration: none;
  color: black;
  font-size: 20px;
}


a:hover {
  color: #D63A92;
}

a:active {
  color: #D63A92;
  text-decoration: underline;
}
